
body{
  margin:0;
  padding:0;
  text-align: center;
  background-color:white;
  font-size:200%;
  color:#40514E;

  }
  .mountain{
    width:100%;
    margin:auto;
  }
  h1{
    color:#206a5d;
    font-size: 4rem;
    font-family:"Merriweather Sans", sans-serif;
  margin-top:0;
  }
  h2{
      color:#28b5b5;
    font-size:2.5rem;
font-family: sans-serif;
  }
  h3{

    font-family:sans-serif;
  }
  .topbox{
  margin:0;
  background-color:#98ddca;
  text-align: center;
}
.middle-container{
  margin:50px 0;
}
.bottom-container{
  background-color: #66BFBF;
  padding: 50px 0 20px;
}
a{
color:  #11999E;
text-decoration: none;
margin:10px;

}
a:hover{
  color: #bdd2b6;

}
hr{
  border:dotted #206a5d 6px;
  border-bottom:none;
  width: 4%;
  margin: 100px auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.copyright{
  color:#bdd2b6;
  font-size: 1.5rem;
  padding:20px 0;

}
.skill-row{
  width:50%;
  margin:100px auto 100px auto;

}
.one{
  width:50%;

}
.two{
    width:50%;

}
.three{
    width:50%;

}
.four{
    width:50%;

}
.five{
    width:50%;

}
